<title>tfsoa States</title>

<form action="/dashboard">
    <input type="submit" value="Dashboard" />
</form>

<h2>All States</h2>
<ul>
  <% @all_states.each do |state| %>
    <li>
      <a href=<%= "/show/#{state.unique_tf_state}" %>>
        <%= state.unique_tf_state %>
      </a>
    </li>
  <% end %>
</ul>
