<link rel="stylesheet" href="/outputs.scss" type="text/css" />

<h1> <%= @state_entry_json["remote"]["config"]["key"] %> </h1>

<body>
<p> Ouputs: <%= @state_entry_json["modules"][0]["outputs"] %></p>
</body>
