<% content_for :title do %>Terraform State dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="number_of_states" data-view="Number" data-title="Number of Tracked TF States" data-moreinfo="stand alone Terraform states"</div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tf_versions" data-view="List" data-unordered="true" data-title="TF Versions in Use" data-moreinfo="What versions of Terraform are in use and how many each"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="active_states" data-view="List" data-unordered="true" data-title="Active TF State Changes" data-moreinfo="TF states with 5 or more changes in the last 24 hours"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="resources_used" data-view="List" data-unordered="true" data-title="Resources used globally" data-moreinfo="Counts of resources used"></div>
    </li>
  </ul>
</div>
