<% content_for :title do %>Terraform State dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="number_of_states" data-view="Number" data-title="Number of Tracked TF States" data-moreinfo="stand alone Terraform states"</div>
    </li>
  </ul>
</div>
